#professionnel {
    display: none;
}
.debut {
    float:left;
}

.btn-circle {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 50%;
}

body{
    background-image: url("fond.jpg");
}

h1 {
    text-align: center;
}


#particulier{
    border-radius: 4px;
}
